 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}
/* Don't Delete */
div{
    margin: 0;
    padding: 0;
}
html, *{
    margin:0;
    padding:0;
}
*{
    scrollbar-color: #222 black!important;
}
body{
    text-align: left;
    background-color: #111;
    color: lightgrey;
    width: 100%;

}

li{
    display: inline;
    padding: 8px;
}

nav{
    background-color: black;
     padding: 10px; 
    font-family: 'Abel', sans-serif;
    top:0;
    position: fixed;
    z-index: 200;
    width: 100%;
}

